body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    margin-top: 50px;
    color: var(--offwhite-color);
    display: block;
}


footer{
    margin-top: 350px;
}