form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label{
    color: var(--offwhite-color);
    display: block;
}

input{
    border-radius: 5px;
    border: 0;
}

button{
    margin-right: 0;
    margin-top: 10px;
}

footer{
    margin-top: 300px;
}